@import "../../css/js30.css";

html, body {
  min-height: 100vh;
  overflow-x: initial;
}

.background {
  position: fixed;
}

.footer {
  z-index: 1;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.top-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5vh;
  font-size: 1.5rem;
  color: white;
}

.start{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  margin-right: 20px;
  margin-left: 10px;
  font-size: 2rem;
  font-style: italic;
  color: white;
  background-color: rgb(0 0 0 / 50%);
  border-radius: 10px;
}

.score {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-right: 10vw;
  margin-left: 10px;
  font-size: 2rem;
  font-style: italic;
  color: white;
  background-color: rgb(0 0 0 / 50%);
  border-radius: 10px;
}

.game-area {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
}

.hole {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  min-width: 20vw;
  min-height: 25vw;
  margin: 2vw 5.5vw;
  overflow: visible;
}

.ground {
  position: relative;
  z-index: 2;
  transform: translateY(40px);
}

.mole {
  position: absolute;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow-y: hidden;
}

.ground-img {
  width: 100%;
  max-width: 20vw;
  pointer-events: none;
  user-select: none;
}

.mole-img {
  width: 100%;
  max-width: 16vw;
  pointer-events: auto; /* 确保图片仍然可以被点击 */
  user-select: none;
  transition: all 0.4s;
  transform: translateY(100%);
  -webkit-user-drag: none; /* 针对Webkit内核浏览器 */
}

.mole-img.up {
  transform: translateY(0);
}

.bar-box {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  width: 100%;
  max-width: 10vw;
  pointer-events: none; /* 添加这一行 */
}

.bar-img {
  width: 100%;
  max-width: 10vw;
  transition: all 0.2s;
  transform: rotate(30deg);
}

.hit {
  transform: rotate(300deg);
}

.game-desc{
  margin-top: 5vh;
  font-family: 'Courier New', Courier, "monospace sans-serif";
  font-size: 1.2rem;
  font-style: initial;
  color: white;
}

.game-select{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.game-select select{
  padding: 10px 30px;
  font-size: 1.5rem;
  font-style: italic;
  color: white;
  background-color: rgb(0 0 0 / 50%);
  border-radius: 10px;
}