@import "../../css/js30.css";

.background {
  position: fixed;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-item {
  z-index: 1;
  display: flex;
  align-items: center;
  min-width: 40vw;
  background-color: rgba(255 255 255 / 80%);
  border-bottom: 1px solid #ccc;
  box-shadow: 10px 10px 10px rgb(0 0 0 / 10%);
}

.input-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-right: 1px solid #ccc;
}

label {
  padding-left: 10px;
  font-size: 0.8rem;
  color: #363636;
}

.todo-item:first-child {
  margin-top: 10vh;
  border-radius: 8px 8px 0 0;
}

.todo-item:last-child {
  margin-bottom: 10vh;
  border-radius: 0 0 8px 8px;
}