@import "../../css/js30.css";

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
}

.header-tips {
  font-size: 1.8rem;
  color: white;
}

.control-space {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px 0;
}

.control-space .range-box {
  align-items: center;
  margin-top: 20px;
  font-size: 1.4rem;
  color: white;
}

.h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--base);
}

.main-img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100vw;
  padding: var(--spacing);
  object-fit: cover;
}

.t-img {
  width: 100%;
  max-width: var(--size);
  background: var(--base);
  filter: blur(var(--blur));
}

