@import "../../css/js30.css";

.key-main {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
  min-height: 55vh;
}

.key-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-top: 30px;
}

.key {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6px 14px;
  font-size: 1.5rem;
  color: white;
  text-shadow: 0 0 5px white;
  cursor: pointer;
  background: rgb(0 0 0 / 40%);
  border: 1px solid white;
  transition: all 0.07s;
}

.key-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4px 0;
  color: white;
  text-shadow: 0 0 5px white;
  cursor: pointer;
  background: rgb(0 0 0 / 40%);
  border: 1px solid white;
  transition: all 0.07s;
}

.float {
  padding: 6px 30px;
}

.playing {
  border-color: yellow;
  box-shadow: 0 0 10px yellow;
  transform: scale(1.1)
}

kbd {
  display: block;
  font-size: 1.5rem;
}

.kbd-mobile {
  display: block;
  font-size: 0.9rem;
}

.key-tips {
  margin-top: 5px;
  font-size: 0.8rem;
  color: yellow;
}