@font-face {
  font-family: Leckerli;
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/LeckerliOne-Regular.ttf") format('truetype');
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: Roboto, sans-serif;
}

.background{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  height: 100vh;
}

.key-main {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
  min-height: 55vh;
}

.key-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-top: 30px;
}

.key {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6px 14px;
  font-size: 1.5rem;
  color: white;
  text-shadow: 0 0 5px white;
  cursor: pointer;
  background: rgb(0 0 0 / 40%);
  border: 1px solid white;
  transition: all 0.07s;
}

.key-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4px 0;
  color: white;
  text-shadow: 0 0 5px white;
  cursor: pointer;
  background: rgb(0 0 0 / 40%);
  border: 1px solid white;
  transition: all 0.07s;
}

.float {
  padding: 6px 30px;
}

.playing {
  border-color: yellow;
  box-shadow: 0 0 10px yellow;
  transform: scale(1.1)
}

kbd {
  display: block;
  font-size: 1.5rem;
}

.kbd-mobile {
  display: block;
  font-size: 0.9rem;
}

.key-tips {
  margin-top: 5px;
  font-size: 0.8rem;
  color: yellow;
}

.footer {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  font-size: 0.8rem;
  color: white;
}

.footer a{
  display: inline-block;
  margin:0 8px;
  color: white;
  text-decoration-line: none;
  transition: color 0.3s ease 0s;
}

.footer a::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 0;
  height: 2px;
  content: "";
  background: yellow;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.footer a:hover::after {
  left: 0;
  width: 100%;
}

.footer a:hover {
  color: yellow;
}