@import "../../css/js30.css";

html, body {
  min-height: 100vh;
}

.background {
  position: fixed;
}

.footer {
  z-index: 1;
}

main {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.header-block {
  position: relative;
  width: 100%;
}

.header-img {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-tips {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav {
  position: sticky;
  top: 0;
  height: 50px;
  margin-top: -5px;
  background-color: #363636;
}

ul li {
  list-style-type: none;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.select-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.select-bar label {
  margin-right: 10px;
  color: #fff;
}

.input-custom {
  min-width: 150px;
  margin-left: 10px;
}

.input-custom::placeholder {
  color: #ccc;
}

.clock-panel {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  font-family: 'Courier New', Courier, monospace, sans-serif;
  font-size: 4rem;
  font-weight: 600;
  color: white;
  background: linear-gradient(
      to bottom,
      rgb(0 0 0 / 80%),
      rgb(33 33 33 / 80%)
  );
}

.time-box {
  display: inline-table;
}

.day-number::before,
.hour-number::before,
.minute-number::before,
.second-number::before {
  content: '0'
}

.day-number.no-before::before,
.hour-number.no-before::before,
.minute-number.no-before::before,
.second-number.no-before::before {
  content: none;
}

.day-number::after {
  content: '天';
}

.hour-number::after {
  content: '时';
}

.minute-number::after {
  content: '分';
}

.second-number::after {
  content: '秒';
}