@import "../../css/js30.css";

.background {
  position: fixed;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.hero {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
}

.hero > h1 {
  color: white;
  transform: rotate(350deg);
}

.bands-bar{
  z-index: 1;
}

.bands-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.bands-list:last-child {
  margin-bottom: 50px;
}

.list-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
  font-weight: normal;
  background: #f4f4f4;
  transition: all 0.3s;
  text-underline: none;
}

.list-item:hover {
  font-weight: bold;
  background: #eaeaea;
}