html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

main {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #790079, indigo);
}

.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 12px;
  font-size: 0.8rem;
  color: white;
}

.footer a {
  display: inline-block;
  margin: 0 8px;
  color: white;
  text-decoration-line: none;
  transition: color 0.3s ease 0s;
}

.footer a::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 0;
  height: 2px;
  content: "";
  background: yellow;
  transition: 0.3s;
}

.footer a:hover::after {
  left: 0;
  width: 100%;
}

.footer a:hover {
  color: yellow;
}