@font-face {
  font-family: Leckerli;
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/LeckerliOne-Regular.ttf") format('truetype');
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

.background {
  position: absolute;
  inset: 0;
  z-index: -1;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 12px;
  font-size: 0.8rem;
  color: white;
}

.footer a {
  display: inline-block;
  margin: 0 8px;
  color: white;
  text-decoration-line: none;
  transition: color 0.3s ease 0s;
}

.footer a::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 0;
  height: 2px;
  content: "";
  background: yellow;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.footer a:hover::after {
  left: 0;
  width: 100%;
}

.footer a:hover {
  color: yellow;
}

@media (aspect-ratio >= 1.75/1) {
  .background {
    background-image: url("../images/landscape_1x2.jpg");
  }
}

@media (aspect-ratio >= 0.8/1) and (aspect-ratio <= 1.75/1) {
  .background {
    background-image: url("../images/portrait_1x1.jpg");
  }
}

@media (aspect-ratio <= 0.8/1) {
  .background {
    background-image: url("../images/portrait_2x1.jpg");
  }
}